<div class="header-container">
  <div class="header-left">
    <div class="logo-container">
      <div class="icon-net-ease-cloud-music">
        <app-svg type="net-ease-cloud-music" style="margin-bottom: -3px;"></app-svg>
      </div>
      <div class="title">
        网易云音乐
      </div>
    </div>
    <div class="direction-container">
      <div class="smaller-than-container">
        <div class="smaller-than"></div>
      </div>
      <div class="greater-than-container">
        <div class="greater-than"></div>
      </div>
    </div>
  </div>
  <div class="header-blank">
    <!-- 该区块虽然没有内容但不可以删!!! -->
    <!-- 因为双击放大(缩小)的优先级最高, 如果设置为整条header会导致其他控件无法点击, 所以精确到各个子部分 -->
  </div>
  <div class="header-right">
    <div class="operation-container">
      <div class="minimize" (click)="operate('minimize')"></div>
      <div class="reset" (click)="operate('reset')"></div>
      <div class="close" (click)="operate('close')"></div>
    </div>
  </div>
</div>
