<table>
  <thead>
    <tr>
      <td class="no"></td>
      <td class="operation">操作(点击解锁歌曲)</td>
      <td class="title">音乐标题</td>
      <td class="singer">歌手</td>
      <td class="album">专辑</td>
      <td class="time">时长</td>
    </tr>
  </thead>
  <tbody class="table-body">
    <ng-container *ngFor="let item of songsList; let index = index;">
      <tr [ngClass]="{'selected': item.selected}" (click)="listClickHandler(index)" (dblclick)="playAudio(item)">
        <td class="td-no">
          <span>
            <span *ngIf="!item.playing">{{ getIndex(index+1) }}</span>
            <!-- 只有播放的那条记录显示播放状态icon -->
            <ng-container *ngIf="item.playing">
              <app-svg type="playing"></app-svg>
              <div *ngIf="!pause" class="mute"></div>
            </ng-container>
          </span>
        </td>
        <td class="operation" (click)="guessStart(item)">
          <ng-container *ngIf="item.right">
            <app-svg type="unlock" class="unlock"></app-svg>
          </ng-container>
          <ng-container *ngIf="!item.right">
            <span *ngIf="!item.guessing">
              <app-svg type="lock" color="#c62f2f"></app-svg>
            </span>
            <input
              *ngIf="item.guessing"
              #gussInput
              class="guessInput"
              type="text"
              placeholder="请输入歌名"
              (blur)="guessingBluerHandler()"
              (keyup.enter)="guessSong(gussInput.value, item)">
          </ng-container>
        </td>
        <td [ngClass]="{'right': item.right}">{{ item.title }}</td>
        <td [ngClass]="{'right': item.right}">{{ item.singer }}</td>
        <td [ngClass]="{'right': item.right}">{{ item.album }}</td>
        <td [ngClass]="{'right': item.right}">{{ item.totalTime }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="alert" [ngClass]="{'slideup': showAlert === true, 'slidedown': showAlert === false}">
  尚未解锁该歌曲, 仅能听副歌部分, 即将播放下一首~
</div>