* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.alert {
  position: absolute;
  right: 50px;
  bottom: -42px;
  padding: 10px;
  background: rgb(50, 50, 50);
  color: #fff;
  &.slideup {
    bottom: 160px;
    animation: slideup .4s linear;
    @keyframes slideup {
      from {
        bottom: 0px;
      }

      to {
        bottom: 160px;
      }
    }
  }
  &.slidedown {
    bottom: -42px;
    animation: slidedown .4s linear;
    @keyframes slidedown {
      from {
        bottom: 160px;
      }

      to {
        bottom: -42px;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      height: 30px;
      font-size: 12px;
      border-top: 1px solid #e1e1e2;
      border-bottom: 1px solid #e1e1e2;

      td {
        border-right: 1px solid #e1e1e2;

        &:last-child {
          border: none;
        }
      }

      .no {
        width: 40px;
      }

      .operation {
        width: 170px;
      }

      .title {
        width: 450px;
      }

      .singer {
        width: auto;
      }

      .album {
        width: auto;
      }

      .time {
        width: auto;
      }
    }
  }

  .table-body {
    tr {
      font-size: 12px;

      .mute {
        background: #fafafa;
      }

      &:nth-of-type(even) {
        background: #f5f5f7;

        .mute {
          background: #f5f5f7;
        }
      }

      &:hover {
        background: #ebeced;

        .mute {
          background: #ebeced;
        }
      }

      &.selected {
        background: #e3e3e5;

        .mute {
          background: #e3e3e5;
        }
      }
    }

    td {
      height: 28px;

      &.operation {
        cursor: pointer;
      }

      .guessInput {
        animation: fade .2s linear;
      }

      .unlock {
        animation: fade .2s linear;
      }

      &:nth-child(n+3) {
        filter: blur(0px);
        transition: filter 1s ease;

        &:not(.right) {
          filter: blur(3px);
        }
      }

      &.td-no {
        float: right;
        display: flex;
        align-items: center;

        span {
          position: relative;
          margin-right: 9px;

          app-svg {
            position: absolute;
            left: -23px;
            top: -8px;
            color: #c73535;
          }

          .mute {
            position: absolute;
            left: -14px;
            top: -6px;
            width: 6px;
            height: 12px;
          }
        }
      }
    }
  }

  td {
    padding-left: 9px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.drag-target-border {
  background: #000;
}

input {
  height: 22px;
  outline: none;
  border: 1px solid #d5d6d9;
  border-radius: 11px;
  padding: 0 10px;
  &:focus {
    border-color: #dddae1;
  }
}
