* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 17px;
  height: 50px;
  background: #c62f2f;

  .header-left {
    display: flex;
    height: 100%;

    .logo-container {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 55px;
      -webkit-app-region: drag;

      .icon-net-ease-cloud-music {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        background: #fff;
        border-radius: 50%;
      }

      .title {
        margin-left: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .direction-container {
      display: flex;
      align-items: center;

      .smaller-than-container,
      .greater-than-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 21px;
        border: 1px solid #a82828;
        cursor: pointer;

        &:active {
          background: #a62121;
        }

        .greater-than {
          margin-bottom: 1px;
          width: 6px;
          height: 6px;
          border-top: 1.5px solid #fff;
          border-right: 1.5px solid #fff;
          transform: rotate(45deg);
        }

        .smaller-than {
          @extend .greater-than;
          transform: rotate(-135deg);
        }
      }

      .smaller-than-container {
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
      }

      .greater-than-container {
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-left: none;
      }

      .smaller-than-container {
        &:active {
          .smaller-than {
            border-color: rgb(141, 28, 28);
          }
        }
      }

      .greater-than-container {
        &:active {
          .greater-than {
            border-color: rgb(141, 28, 28);
          }
        }
      }
    }
  }

  .header-blank {
    flex: 1;
    height: 100%;
    -webkit-app-region: drag;
  }

  .header-right {
    display: flex;

    .user {
      display: flex;
      align-items: center;
      color: #fff;

      .exp {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 23px;
        border: 1px solid #888;
        border-radius: 30px;

        .current-exp-progress {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 22px;
          border-radius: 30px;
          background: #09bb07;
          transition: all linear 1s;
        }

        .exp-value {
          position: absolute;
        }
      }

      .level {
        margin: 0px 15px 0px 10px;
        font-size: 16px;
        font-style: oblique;
      }
    }

    .operation-container {
      display: flex;
      align-items: center;

      div {
        cursor: pointer;
      }

      .minimize {
        position: relative;
        width: 13px;
        height: 11px;

        &:hover {
          &::before {
            background: #fff;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          width: 100%;
          height: 1px;
          background: #e29595;
        }
      }

      .reset {
        margin: 0px 10px;
        width: 13px;
        height: 11px;
        border-radius: 3px;
        border: 1px solid #e29595;

        &:hover {
          border-color: #fff;
        }
      }

      .close {
        position: relative;
        width: 12px;
        height: 15px;

        &:hover {

          &::before,
          &::after {
            background: #fff;
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 16px;
          background: #e29595;
          left: 8px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
