<div class="footer">
  <div class="play-actions">
    <div class="previous-container" title="上一首" (click)="this.appService.previousSong$.next()">
      <div class="column"></div>
      <div class="triangle"></div>
    </div>
    <div class="state-container" title="暂停/播放" (click)="this.appService.pauseOrPlay$.next(!this.playing)">
      <ng-container *ngIf="playing">
        <div class="column"></div>
        <div class="column"></div>
      </ng-container>
      <ng-container *ngIf="!playing">
        <div class="triangle"></div>
      </ng-container>
    </div>
    <div class="next-container" title="下一首" (click)="this.appService.nextSong$.next()">
      <div class="column"></div>
      <div class="triangle"></div>
    </div>
  </div>
  <div class="progress-container">
    <span class="min">{{ currentTime }}</span>
    <div class="bar-container">
      <div #totalBar class="total-bar"></div>
      <div class="current-bar" [ngStyle]="{'width': width}">
        <div class="point"></div>
      </div>
    </div>
    <span class="max">{{ duration }}</span>
  </div>
</div>