.footer {
  display: flex;
  align-items: center;
  margin-left: -200px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
  border-top: 1px solid #e1e1e2;
  background: #f6f6f8;

  .play-actions {
    display: flex;
    align-items: center;

    .previous-container,
    .state-container,
    .next-container {
      cursor: pointer;

      &:hover {
        background: #d33030;
      }
    }

    .previous-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 30px;
      width: 30px;
      height: 30px;
      background: #e83c3c;
      border-radius: 50%;

      .column {
        position: absolute;
        left: 11px;
        width: 2px;
        height: 11px;
        background: #fff;
      }

      .triangle {
        position: absolute;
        left: 8px;
        border-width: 6px;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
      }
    }

    .state-container {
      @extend .previous-container;
      width: 35px;
      height: 35px;
      margin-left: 24px;

      .column {
        width: 2.5px;
        height: 17px;
        background: #fff;

        &:first-child {
          left: 12px;
        }

        &:last-child {
          left: 20px;
        }
      }

      .triangle {
        position: absolute;
        left: 37%;
        border-left: 13px solid #fff;
        border-top: 9px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
    }

    .next-container {
      @extend .previous-container;
      margin-left: 24px;
      transform: rotate(180deg);

      .column {
        width: 2.5px;
        left: 10px;
      }
    }
  }

  .progress-container {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;

    .bar-container {
      position: relative;
      width: 100%;

      .total-bar {
        position: relative;
        width: 100%;
        height: 4px;
        background: #e6e6e8;
        border-radius: 4px;
      }

      .current-bar {
        display: flex;
        align-items: center;
        position: absolute;
        left: -1px;
        height: 100%;
        background: #e83c3c;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        z-index: 1;

        .point {
          position: absolute;
          right: 0px;
          min-width: 4px;
          min-height: 4px;
          box-shadow: 0px 0px 0px 4px #fff, 0px 0px 0px 5px #bfbfbf;
          border-radius: 50%;
          background: #e83c3c;
        }
      }

      .buffer-bar {
        width: 198px;
        height: 100%;
        background: #c2c2c4;
        border-radius: 4px;
      }
    }

    .min,
    .max {
      font-size: 12px;
    }

    .min {
      margin-right: 15px;
    }

    .max {
      margin-left: 15px;
    }
  }
}
