<div class="footer">
  <div class="play-actions">
    <div class="previous-container" title="上一首" (click)="previous()">
      <div class="column"></div>
      <div class="triangle"></div>
    </div>
    <div class="state-container" title="暂停/播放" (click)="pauseOrPlay()">
      <ng-container *ngIf="playing">
        <div class="column"></div>
        <div class="column"></div>
      </ng-container>
      <ng-container *ngIf="!playing">
        <div class="triangle"></div>
      </ng-container>
    </div>
    <div class="next-container" title="下一首" (click)="next()">
      <div class="column"></div>
      <div class="triangle"></div>
    </div>
  </div>
  <app-guess-song-progress></app-guess-song-progress>
</div>