* {
  margin: 0;
  padding: 0;
}

body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
}

#container {
  margin: 100px auto;
  width: 688px;
}

#write {
  margin: 0 0 5px;
  padding: 5px;
  width: 671px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

#keyboard {
  margin: 0;
  padding: 0;
  height: 230px;
  list-style: none;

  li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    transition: all ease .2s;
    user-select: none;

    &:not(.disabled) {
      cursor: pointer;
    }

    &.active:not(.disabled) {
      position: relative;
      border-color: #e5e5e5;
      background: #c62f2f;
      color: #fff;
    }

    &.disabled {
      background: #efefef;
    }
  }

  .tab, .delete {
    width: 70px;
  }
  .capslock {
    width: 80px;
  }
  .return {
    width: 77px;
  }
  .left-shift {
    width: 95px;
  }
  .right-shift {
    width: 109px;
  }
  .space {
    clear: left;
    width: 681px;
  }
}

.capslock,
.tab,
.left-shift {
  clear: left;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

