<div class="app-guess-song-my-favorite-header-container">
  <div class="header-info-container">
    <img class="header-info-img" src="../../../assets/images/music.jpg">
    <div class="header-info">
      <div class="header-info-describe">
        <div class="header-info-type">游戏</div>
        <div class="header-info-name">听歌识曲</div>
      </div>
      <div class="header-info-user">
        <img class="header-info-user-avatar" src="../../../assets/images/inuyasha.jpg">
        <div class="header-info-user-name">Eve</div>
        <div class="header-info-user-create-time">2019-10-04创建</div>
      </div>
      <div class="header-info-actions">
        <button type="button" class="emphasize" (click)="showSpecialSong = true">
          <div>
            <div class="svg-container">
              <app-svg type="key"></app-svg>
            </div>
            <span class="button-title">获取钥匙</span>
          </div>
        </button>
        <button type="button">
          <div>
            <div class="svg-container">
              <app-svg type="direction"></app-svg>
            </div>
            <span class="button-title">游戏规则</span>
          </div>
        </button>
        <button type="button">
          <div>
            <div class="svg-container">
              <app-svg type="share"></app-svg>
            </div>
            <span class="button-title">分享</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="data-container">
    <div *ngIf="showKeys" class="data keys">
      <div class="title">我的钥匙</div>
      <app-svg type="key" draggable="true"></app-svg>
      <app-svg type="key" draggable="true"></app-svg>
      <app-svg type="key" draggable="true"></app-svg>
    </div>
    <div class="data">
      <div class="title">歌曲数</div>
      <div class="info">570</div>
    </div>
    <div class="data">
      <div class="title">播放数</div>
      <div class="info">7920</div>
    </div>
  </div>
  <app-special-song *ngIf="showSpecialSong" (close)="closeHandler()" (guessRight)="guessRight()"></app-special-song>
</div>
