<div class="app-special-song-container" [ngClass]="{'finish': finish}">
  <div class="header">
    <div *ngIf="showTitle" class="title">念念不忘, 必有回响</div>
    <div class="close" (click)="closeClick()"></div>
  </div>
  <div class="body">
    <p>{{ introduction[0] }}</p>
    <p>{{ introduction[1] }}{{ introduction[2] }}{{ introduction[3] }}</p>
    <p>{{ introduction[4] }}{{ introduction[5] }}</p>
    <p>{{ introduction[6] }}{{ introduction[7] }}</p>
    <p>{{ introduction[8] }}</p>
  </div>
  <div class="footer">
    <div *ngIf="showInput" class="hearts">
      <div
        class="heart-container"
        *ngFor="let item of hearts">
        <div
          class="heart"
          [ngStyle]="{ 
            'width': item.size, 
            'height': item.size, 
            'top': item.top, 
            'left': item.left,
            'animation-duration': item.animationDuration
          }"></div>
      </div>
    </div>
    <input
      *ngIf="showInput"
      #guessInput
      type="text"
      placeholder="输入这首BGM的名字, 即可获得神秘奖励!"
      class="normal"
      [ngClass]="{'wrong': wrong}"
      (keyup.enter)="validAnswer(guessInput.value)">
    <!-- <span
      *ngFor="let line of lines"
      [ngStyle]="{ 'width': line.width, 'height': line.height, 'top': line.top, 'left': line.left, 'animation-delay': line.animationDelay }"
      class="particle"></span> -->

  </div>
</div>

<div *ngIf="showKeys" class="keys-container">
  <div class="inner">
    <app-svg
      type="keys"
      width="80px"
      height="80px"></app-svg>
  </div>
</div>
